.tabDesc {
    display: flex;
    justify-content: space-between;
    /*background-color: #1c03a8;
    border-radius: 12px;*/
    overflow: auto;
  }

.tabDesc > div {
    background-color: #413c5f;
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
  }

