/* The side navigation menu */
.navigation {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #e6d7d7;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* navigation links */
  .navigation a {
    display: block;
    color: rgb(3, 0, 0);
    padding: 15px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .navigation a.active {
    background-color: #28047a;
    color: white;
  }
  
  /* Links on mouse-over */
  .navigation a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the navigation's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px; /* vyřešit kvůli headru*/
    height: 1000px;
  }

  
  /* On screens that are less than 700px wide, make the navigation into a topbar */
  @media screen and (max-width: 700px) {
    .navigation {
      width: 100%;
      height: auto;
      position: relative;
    }
    .navigation a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .navigation a {
      text-align: center;
      float: none;
    }
  }