.img-box img {
    width: 80%;
    float: right;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  h2 {
    padding-top: 30px;
    
  }
  .box {
  /*  border-radius: 5px;
    border-style: solid;
    border-width: 1px;*/
    margin-top: -20px;
    display:flex
    
  }

  .box p {
    padding: 10px;
    
  }

  .img-box {
    margin: auto;
  }